*{
    margin: 0;
    padding: 0;
}
.main{
    background: #F3BBA0;
    /* width: 100%; */
    height: 100vh;
    overflow-x: hidden;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .row{
    width: 470px;
    color: #fff;
}

.icon{
    display: flex;
    color: #fff;
}

.icon span svg,.content p{
    font-size: 17px;
}

.navbar{
    background: #F06C24;
    padding: 12px 12px 0px;
    width: 470px;
    margin-left: 23px;
}

.container svg{
    margin-bottom: 14px;
    cursor: pointer;
}
.navbar>.container{
    justify-content: flex-start;
} 
.main-content{
    margin-top: 17px;
    width: 470px;
}
.inputField{
    position: relative;
    margin-left: 12px;
    width: 100%;
}
.inputField input{
    background: #fff;
    box-shadow: none;
    border: none;
    padding: 10px;
    width: 470px;
    border-radius: 20px;
    position: relative;
}

.inputField input:focus{
    outline: none;
}
.inputField input::placeholder{
    padding-left: 12px;
}
.main-content .row{
    margin-left: 0px;
    margin-top: 17px;
}

.head{
    display: flex;
    justify-content: space-between;
    background: #fff;
    color: black;
    margin-top: 10px;
    padding: 10px;
    border-radius: 22px;
    width: 470px;
}

.btn-box{
    display: flex;
    justify-content: center;
}

.btn-note{
    margin-top: 20px;
    background: #F06C24;
    color: #fff;
    margin-left: 10px;
    width: 100px;
}
.btn-note:hover{
    background: #F06C24;
    color: #fff;
}


.btn:active{
    background: #F06C24;
    border: none;
}